.main {
  padding: 1rem;
}

.h1 {
  padding: 0.5rem;
  font-size: 3rem;
}

.h2 {
  font-size: 2.5rem;
}

.h3 {
  font-size: 2rem;
}

.section {
  background: lighten(#111, 1);
  padding: 1rem;
}

.form {
  background: lighten(#111, 2);
  padding: 1rem;
}

.label {
  margin: 0.3rem 0;
}

.button {
  width: 3rem;
  background-color: lighten(#333, 20);
  padding: 0.5rem;
  text-align: center;
  display: inline-block;
  margin: 0.5rem;
  border: 1px white solid;
}

.primary {
  background-color: red;
}

.button-group {
  background-color: lighten(#333, 10);
  padding: 1rem;
  margin-top: 1rem;
}

.fieldset {
  background: lighten(#111, 4);
  border: 1px solid white;
  padding: 1rem;
  margin-bottom: 1rem;
}
