header {
  padding: 0 1rem;
}

main {
  padding: 0 1rem;
}

section {
  background: lighten(#111, 1);
}

h1 {
  padding: 0.5rem;
  font-size: 2.5rem;
}

form {
  padding: 1rem;
  max-width: 720px;
}

form > legend {
  padding: 0.5rem;
  font-size: 2rem;
}

fieldset {
  background: lighten(#111, 4);
  margin: 2rem 0;
  padding: 1rem;
}

fieldset > legend {
  font-size: 1.5rem;
}

label {
  display: block;
  margin: 1rem 0;
  padding: 0.5rem 0.2rem;
}

label:focus-within {
  outline: 2px red solid;
}

input {
  width: 100%;
}

input:focus {
  outline: none;
}

textarea {
  width: 100%;
}

.button {
  width: 3rem;
  background-color: lighten(#333, 20);
  padding: 0.5rem;
  text-align: center;
  display: inline-block;
  margin: 0.5rem;
  border: 1px white solid;
}

.primary {
  background-color: red;
}

.button-group {
  background-color: lighten(#333, 10);
  padding: 1rem;
  margin-top: 1rem;
}

@media all and (min-width: 560px) {
  fieldset {
    label span {
      display: inline-block;
      width: 30%;
    }

    textarea {
      width: 80%;
    }

    input {
      width: 60%;
    }
  }
}
