<header>
  <h1>ReactiveForm Pt II: Assume the worst</h1>
</header>

<main>
  <section>
    <form
      [formGroup]="accessibleForm"
      (ngSubmit)="submit(accessibleForm)"
      aria-labelledby="form-title"
    >
      <h2 id="form-title">Accessible Form</h2>

      <fieldset id="personal">
        <legend>Personal Information</legend>

        <label for="first-name">
          <span id="first-name-label">
            First Name
          </span>
          <input
            id="first-name"
            aria-labelledby="first-name-label"
            type="text"
            formControlName="firstName"
          />
        </label>

        <label for="last-name">
          <span id="last-name-label">
            Last Name
          </span>
          <input
            id="last-name"
            aria-labelledby="last-name-label"
            type="text"
            formControlName="lastName"
          />
        </label>

        <label for="email">
          <span id="email-label">
            Email
          </span>
          <input
            id="email"
            type="email"
            aria-labelledby="email-label"
            formControlName="email"
          />
        </label>
      </fieldset>

      <div class="button-group">
        <button type="submit" class="primary">
          Send
        </button>
        <button>Cancel</button>
      </div>
    </form>
  </section>
</main>
